<div class="tab">
    <h1 >Add New course</h1>
    <mat-tab-group>
        <mat-tab label="">
            <mat-card class="logincard">
            
            <form [formGroup]="addcourse" (ngSubmit)="onsubmit(addcourse)">
                <mat-form-field appearance="outline">
                    <mat-label >Course Title</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="coursetitle">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label >Course Description</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="coursedecription">
                
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label >Course Name</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="coursename">
                
                  </mat-form-field>
                     
          
                <mat-form-field appearance="outline">
                  <mat-label >Course Venu</mat-label>
                  <input matInput placeholder="Placeholder" formControlName="coursevenue" >
              
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label >Course Duration</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="courseduration">
                
                    </mat-form-field>
               
                <div style="text-align: center;">
                  <button mat-raised-button color="primary">Add Course</button>
                </div>
            </form>
        </mat-card>    
        </mat-tab>
   